<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_restaurant.name %>
</p>

<%= link_to 'Edit', edit_type_restaurant_path(@type_restaurant) %> |
<%= link_to 'Back', type_restaurants_path %>
